body{
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1175px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.mainContent{
	.mainContent__list{
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-top: 45px;
		margin-bottom: 40px;
		.mainContent__firstItem{
			height: 1100px;
			max-width: 770px;
			width: 100%;
		    border: 1px solid #fff;
		    padding-left: 100px;
		    border-radius: 5px;
		    box-shadow: 0px 5px 14.4px 0.6px rgba(0, 0, 0, 0.2);
	        overflow-x: scroll;
    		overflow-y: hidden;
			img{
				margin-top: 40px;
			}
			h3{
				font-size: 72px;
				color: #7358fb;
				font-family: Montserrat, "Black";
				font-weight: 800;
				text-transform: uppercase;
				margin-top: 130px;
				margin-bottom: 70px;
			}
			p{
				font-size: 24px;
				font-family: Montserrat, "Medium";
			}
			.phone{
				input{
					max-width: 280px;
					width: 100%;
					color: #999999;
					font-family: Montserrat, "Black";
				    font-size: 21px;
				    font-weight: 500;
				    padding: 17px;
				    margin-top: 70px;
				    border-radius: 40px;
				    border: 1px solid #dcdcdc;outline: none;
				}
				button{
					outline: none;
				    cursor: pointer;
				    padding: 17px 60px;
				    margin-left: 20px;
				    border: 1px solid;
					font-size: 19px;
					color: #fff;
					font-family: Montserrat, "Black";
					font-weight: 600;
					border-radius: 40px;
					background-image: -webkit-linear-gradient( 0deg, rgb(114,87,251) 0%, rgb(191,125,231) 100%);
				}
			}
			#mainbg{
				    display: block;
				    position: relative;
				    right: 259px;
				    bottom: 100px;
				    margin-top: 0;
			        z-index: -1;
				}
		}
		.mainContent__secondItem{	
		    width: 530px;
	        height: 1100px;
		    text-align: center;
		    margin-left: 30px;
		    border: 1px solid #fff;
		    border: 5px;
		    box-shadow: 0px 5px 14.4px 0.6px rgba(0, 0, 0, 0.2);
	        overflow-x: scroll;
    		overflow-y: hidden;
		    .acquaintance{
		    	background: #a971ed;
		    	color: #fff;
		    	font-size: 30px;
		    	text-align: center;
				padding: 20px 0;
				border-top-left-radius:  5px;
				border-top-right-radius:  5px;
		    	span{
		    		margin-top: 0;
		    		font-family: Montserrat, "Regular";
		    	}
		    }
		    img{
	    		margin-top: 55px;
	    	}
	    	h5{
	    		font-size: 29px;
	    		margin-bottom: 0;
	    		font-family: Montserrat, "Regular";
	    		font-weight: 100;
	    		margin-bottom: 15px;
	    		color: #696969;
	    	}
	    	.line{
	    		border-bottom: 1px solid #d2d2d2;
	    		width: 280px;
	    		margin: 0 auto;
	    	}
	    	#bottonimg{
				display: block;
				position: relative;
			    right: 170px;
			    bottom: 45px;
			    margin-top: 0;
	    	}
	    	p{
	    		font-size: 26px;
	    		color: #909090;
	    		font-family: Montserrat, "Regular";
	    	}
		}
	}
}

@media (max-width: 1150px){
	.mainContent{
		.mainContent__list{
			flex-wrap: wrap;
			.mainContent__firstItem{
				margin: 0 auto;
			}
			.mainContent__secondItem{
			        max-width: 480px;
				    width: 100%;
				    margin: 0 auto;
				    margin-top: 50px;
			}
		}
	}
}
@media (max-width: 800px){
	.mainContent{
		.mainContent__list{
			text-align: center;
			.mainContent__firstItem{
				padding-left: 0px;
				p{
					font-size: 14px;
				}
				h3{
				    font-size: 30px;
				    margin-top: 50px;
    				margin-bottom: 30px;
				}
				.phone{
					flex-wrap: wrap;
					input{
						max-width: 218px;
						width: 100%;
						font-size: 14px;
						padding: 10px;
					    margin-top: 30px;
					}
					button{
						margin-top: 20px;
						padding: 10px 16px;
					    font-size: 14px;
					    margin-left: 10px;
					}
				}
			}
		}
	}
}
@media (max-width: 480px){
	.mainContent{
		.mainContent__list{
			.mainContent__firstItem{
				height: 700px;
				h3{
					font-size: 20px;
				}
			}
			.mainContent__secondItem{
				display: none;
			}
		}
	}
}
