body {
  margin: 0;
  padding: 0; }

.container {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.mainContent .mainContent__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 40px; }
  .mainContent .mainContent__list .mainContent__firstItem {
    height: 1100px;
    max-width: 770px;
    width: 100%;
    border: 1px solid #fff;
    padding-left: 100px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 14.4px 0.6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 14.4px 0.6px rgba(0, 0, 0, 0.2);
    overflow-x: scroll;
    overflow-y: hidden; }
    .mainContent .mainContent__list .mainContent__firstItem img {
      margin-top: 40px; }
    .mainContent .mainContent__list .mainContent__firstItem h3 {
      font-size: 72px;
      color: #7358fb;
      font-family: Montserrat, "Black";
      font-weight: 800;
      text-transform: uppercase;
      margin-top: 130px;
      margin-bottom: 70px; }
    .mainContent .mainContent__list .mainContent__firstItem p {
      font-size: 24px;
      font-family: Montserrat, "Medium"; }
    .mainContent .mainContent__list .mainContent__firstItem .phone input {
      max-width: 280px;
      width: 100%;
      color: #999999;
      font-family: Montserrat, "Black";
      font-size: 21px;
      font-weight: 500;
      padding: 17px;
      margin-top: 70px;
      border-radius: 40px;
      border: 1px solid #dcdcdc;
      outline: none; }
    .mainContent .mainContent__list .mainContent__firstItem .phone button {
      outline: none;
      cursor: pointer;
      padding: 17px 60px;
      margin-left: 20px;
      border: 1px solid;
      font-size: 19px;
      color: #fff;
      font-family: Montserrat, "Black";
      font-weight: 600;
      border-radius: 40px;
      background-image: -webkit-linear-gradient(0deg, #7257fb 0%, #bf7de7 100%); }
    .mainContent .mainContent__list .mainContent__firstItem #mainbg {
      display: block;
      position: relative;
      right: 259px;
      bottom: 100px;
      margin-top: 0;
      z-index: -1; }
  .mainContent .mainContent__list .mainContent__secondItem {
    width: 530px;
    height: 1100px;
    text-align: center;
    margin-left: 30px;
    border: 1px solid #fff;
    border: 5px;
    -webkit-box-shadow: 0px 5px 14.4px 0.6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 14.4px 0.6px rgba(0, 0, 0, 0.2);
    overflow-x: scroll;
    overflow-y: hidden; }
    .mainContent .mainContent__list .mainContent__secondItem .acquaintance {
      background: #a971ed;
      color: #fff;
      font-size: 30px;
      text-align: center;
      padding: 20px 0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
      .mainContent .mainContent__list .mainContent__secondItem .acquaintance span {
        margin-top: 0;
        font-family: Montserrat, "Regular"; }
    .mainContent .mainContent__list .mainContent__secondItem img {
      margin-top: 55px; }
    .mainContent .mainContent__list .mainContent__secondItem h5 {
      font-size: 29px;
      margin-bottom: 0;
      font-family: Montserrat, "Regular";
      font-weight: 100;
      margin-bottom: 15px;
      color: #696969; }
    .mainContent .mainContent__list .mainContent__secondItem .line {
      border-bottom: 1px solid #d2d2d2;
      width: 280px;
      margin: 0 auto; }
    .mainContent .mainContent__list .mainContent__secondItem #bottonimg {
      display: block;
      position: relative;
      right: 170px;
      bottom: 45px;
      margin-top: 0; }
    .mainContent .mainContent__list .mainContent__secondItem p {
      font-size: 26px;
      color: #909090;
      font-family: Montserrat, "Regular"; }

@media (max-width: 1150px) {
  .mainContent .mainContent__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .mainContent .mainContent__list .mainContent__firstItem {
      margin: 0 auto; }
    .mainContent .mainContent__list .mainContent__secondItem {
      max-width: 480px;
      width: 100%;
      margin: 0 auto;
      margin-top: 50px; } }

@media (max-width: 800px) {
  .mainContent .mainContent__list {
    text-align: center; }
    .mainContent .mainContent__list .mainContent__firstItem {
      padding-left: 0px; }
      .mainContent .mainContent__list .mainContent__firstItem p {
        font-size: 14px; }
      .mainContent .mainContent__list .mainContent__firstItem h3 {
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 30px; }
      .mainContent .mainContent__list .mainContent__firstItem .phone {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .mainContent .mainContent__list .mainContent__firstItem .phone input {
          max-width: 218px;
          width: 100%;
          font-size: 14px;
          padding: 10px;
          margin-top: 30px; }
        .mainContent .mainContent__list .mainContent__firstItem .phone button {
          margin-top: 20px;
          padding: 10px 16px;
          font-size: 14px;
          margin-left: 10px; } }

@media (max-width: 480px) {
  .mainContent .mainContent__list .mainContent__firstItem {
    height: 700px; }
    .mainContent .mainContent__list .mainContent__firstItem h3 {
      font-size: 20px; }
  .mainContent .mainContent__list .mainContent__secondItem {
    display: none; } }
