body {
  margin: 0;
  padding: 0; }

.container {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.mainContent .mainContent__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 40px; }
  .mainContent .mainContent__list .mainProject__firstItem {
    max-width: 770px;
    width: 100%; }
    .mainContent .mainContent__list .mainProject__firstItem .logo {
      padding-left: 100px;
      padding-top: 40px;
      border: 1px solid #fff;
      border: 5px;
      -webkit-box-shadow: 0px 5px 14.4px 0.6px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 5px 14.4px 0.6px rgba(0, 0, 0, 0.2); }
      .mainContent .mainContent__list .mainProject__firstItem .logo p {
        font-size: 42px;
        font-family: Montserrat, "Regular";
        padding-bottom: 50px; }
    .mainContent .mainContent__list .mainProject__firstItem .mainProject {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .mainContent .mainContent__list .mainProject__firstItem .mainProject .mainProject__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 370px;
        width: 100%;
        cursor: pointer;
        margin-top: 30px;
        -webkit-margin-end: auto;
        margin-inline-end: auto;
        border: 1px solid #fff;
        border: 5px;
        -webkit-box-shadow: 0px 5px 14.4px 0.6px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 5px 14.4px 0.6px rgba(0, 0, 0, 0.2); }
        .mainContent .mainContent__list .mainProject__firstItem .mainProject .mainProject__item img {
          margin-top: 70px;
          margin-bottom: 55px;
          margin-left: 35px; }
        .mainContent .mainContent__list .mainProject__firstItem .mainProject .mainProject__item span {
          font-size: 19px;
          color: #a692fc;
          font-family: Montserrat, "Bold";
          text-transform: uppercase;
          margin-top: 110px;
          margin-left: 20px;
          font-weight: 600; }
  .mainContent .mainContent__list .mainContent__secondItem {
    width: 530px;
    text-align: center;
    margin-left: 30px;
    border: 1px solid #fff;
    border: 5px;
    -webkit-box-shadow: 0px 5px 14.4px 0.6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 14.4px 0.6px rgba(0, 0, 0, 0.2); }
    .mainContent .mainContent__list .mainContent__secondItem .acquaintance {
      background: #a971ed;
      color: #fff;
      font-size: 30px;
      text-align: center;
      padding: 20px 0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
      .mainContent .mainContent__list .mainContent__secondItem .acquaintance span {
        margin-top: 0;
        font-family: Montserrat, "Regular"; }
    .mainContent .mainContent__list .mainContent__secondItem img {
      margin-top: 55px; }
    .mainContent .mainContent__list .mainContent__secondItem h5 {
      font-size: 29px;
      margin-bottom: 0;
      font-family: Montserrat, "Regular";
      font-weight: 100;
      margin-bottom: 15px;
      color: #696969; }
    .mainContent .mainContent__list .mainContent__secondItem .line {
      border-bottom: 1px solid #d2d2d2;
      width: 280px;
      margin: 0 auto; }
    .mainContent .mainContent__list .mainContent__secondItem p {
      font-size: 26px;
      color: #909090;
      font-family: Montserrat, "Regular"; }

@media (max-width: 1150px) {
  .mainContent .mainContent__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .mainContent .mainContent__list .mainProject__firstItem {
      margin: 0 auto; }
      .mainContent .mainContent__list .mainProject__firstItem .mainProject__item {
        padding-left: 0; }
    .mainContent .mainContent__list .mainContent__secondItem {
      max-width: 745px;
      width: 100%;
      margin: 0 auto;
      margin-top: 50px; } }

@media (max-width: 800px) {
  .mainContent .mainContent__list .mainProject {
    margin: 0 auto; }
    .mainContent .mainContent__list .mainProject .mainProject__item {
      margin-left: auto;
      margin: 0 auto; } }

@media (max-width: 480px) {
  .mainContent .mainContent__list .mainProject__firstItem {
    margin: 0 auto; }
    .mainContent .mainContent__list .mainProject__firstItem .mainProject .mainProject__item {
      max-width: 265px;
      width: 100%;
      margin-left: auto; }
      .mainContent .mainContent__list .mainProject__firstItem .mainProject .mainProject__item span {
        font-size: 10px;
        margin-left: 0; }
  .mainContent .mainContent__list .mainContent__secondItem {
    display: none; } }
