body {
  margin: 0;
  padding: 0; }

.container {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.mainContent .mainContent__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 40px; }
  .mainContent .mainContent__list .mainContent__firstItem {
    max-width: 770px;
    width: 100%;
    border: 1px solid #fff;
    padding-left: 100px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 14.4px 0.6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 14.4px 0.6px rgba(0, 0, 0, 0.2); }
    .mainContent .mainContent__list .mainContent__firstItem img {
      margin-top: 40px; }
    .mainContent .mainContent__list .mainContent__firstItem h3 {
      font-size: 72px;
      color: #7358fb;
      font-family: Montserrat, "Black";
      font-weight: 800;
      text-transform: uppercase;
      margin-top: 130px;
      margin-bottom: 70px; }
    .mainContent .mainContent__list .mainContent__firstItem p {
      font-size: 24px;
      font-family: Montserrat, "Medium"; }
    .mainContent .mainContent__list .mainContent__firstItem .button {
      margin-top: 40px;
      margin-bottom: 255px; }
      .mainContent .mainContent__list .mainContent__firstItem .button a {
        width: 310px;
        text-decoration: none;
        color: #fff;
        font-size: 19px;
        font-family: Montserrat, "Black";
        font-weight: bold;
        padding: 17px 80px;
        text-transform: uppercase;
        border: none;
        border-radius: 40px;
        background-image: -webkit-linear-gradient(0deg, #7257fb 0%, #bf7de7 100%); }
  .mainContent .mainContent__list .mainContent__secondItem {
    width: 530px;
    text-align: center;
    margin-left: 30px;
    border: 1px solid #fff;
    border: 5px;
    -webkit-box-shadow: 0px 5px 14.4px 0.6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 14.4px 0.6px rgba(0, 0, 0, 0.2); }
    .mainContent .mainContent__list .mainContent__secondItem .acquaintance {
      background: #a971ed;
      color: #fff;
      font-size: 30px;
      text-align: center;
      padding: 20px 0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
      .mainContent .mainContent__list .mainContent__secondItem .acquaintance span {
        margin-top: 0;
        font-family: Montserrat, "Regular"; }
    .mainContent .mainContent__list .mainContent__secondItem img {
      margin-top: 55px; }
    .mainContent .mainContent__list .mainContent__secondItem h5 {
      font-size: 29px;
      margin-bottom: 0;
      font-family: Montserrat, "Regular";
      font-weight: 100;
      margin-bottom: 15px;
      color: #696969; }
    .mainContent .mainContent__list .mainContent__secondItem .line {
      border-bottom: 1px solid #d2d2d2;
      width: 280px;
      margin: 0 auto; }
    .mainContent .mainContent__list .mainContent__secondItem p {
      font-size: 26px;
      color: #909090;
      font-family: Montserrat, "Regular"; }

